


        @* BUG ANIMATION JQUERY -- Performs the sliding animation *@
        <script>
          $(document).ready(function () {
            $(".bug-slide-left").click(function () {
              $(".bug_icon_fixed_button").animate({
                right: -187
              }, "slow");
            });
            $(".bug-slide-right").click(function () {
              $(".bug_icon_fixed_button").animate({
                right: 0
              }, "slow");
            });
          });
        </script>

        @* BUG REPORT HTML *@
        <div class="bug_icon_fixed_button">
          <a class="bug-slide-right" id="bug_icon_btn_leftarrow" onclick="reappear_icon()"><i class="fas fa-chevron-left"></i></a>
          <a class="bug-slide-left" id="bug_icon_btn_rightarrow" onclick="disappear_icon()"><i class="fas fa-chevron-right"></i></a>
          <a id="bug_icon_btn_txt" href="https://docs.google.com/document/d/1nJhdvfNsYz0fu7w8qwY13LENJ30_H3bDbqwY3iq74n0/edit" target="_blank"><i id="bug_icon_btn" class="fas fa-bug"></i>Bug Report</a>
        </div>

        @{
          var bugreport = TheatreCMS.Helpers.AdminSettingsReader.CurrentSettings().BugReport;
          if (bugreport.tab_open)
          {
            <script>
              $(document).ready(function () {
                $(".bug_icon_fixed_button").css("right", "0")
                reappear_icon();
              })
            </script>
          }
          else
          {
            <script>
              $(document).ready(function () {;
                disappear_icon();
              })
            </script>
          }
        }

        <script>
                //Send the state of the bug report tab to the back-end
                  function BugTabStateToJson(tabstate) {

                    var bugtab = { "tab_open": tabstate.data.tab_open };

                  $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BugTabStateUpdate", "Developer")',
                    data: JSON.stringify(bugtab),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (message) {
                      console.log(message);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                      console.log(`Request: ${XMLHttpRequest.toString()}\nStatus: ${textStatus}\nError:${errorThrown}`);
                    }
                  });
                  return false;
                }
                $("#bug_icon_btn_leftarrow").on("click", { "tab_open": "true" }, BugTabStateToJson);
                $("#bug_icon_btn_rightarrow").on("click", { "tab_open": "false" }, BugTabStateToJson);
        </script>
      </div>

