/* BUG REPORT STYLING */

#bug_icon_btn {
    font-size: 30px;
    color: lightgray;
    border: none;
    opacity: .75;
    padding-right: 1px;
}

    #bug_icon_btn:hover {
        opacity: 1;
    }

#bug_icon_btn_txt {
    font-size: 30px;
    color: deepskyblue;
    opacity: 1;
    text-decoration: none;
    padding-right: 2px;
}

    #bug_icon_btn_txt:hover {
        color: dodgerblue;
    }

#bug_icon_btn_leftarrow {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 10px;
    transition: opacity 1s;
    background: none;
    border: none;
}

    #bug_icon_btn_leftarrow:hover {
        opacity: .75;
        cursor: pointer;
    }

#bug_icon_btn_rightarrow {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 10px;
    transition: opacity 1s;
    background: none;
    border: none;
}

    #bug_icon_btn_rightarrow:hover {
        opacity: .5;
        cursor: pointer;
    }

.bug_icon_fixed_button i {
    color: #FFFBFB;
}

.bug_icon_fixed_button {
    position: fixed;
    bottom: 0px;
    right: -187px;
    float: right;
    z-index: 5;
}

